html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0 5%;
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

::selection {
    background: #D9534F;
    color: #fff;
}

.Pomodoro {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
